<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>

	<HEAD>
		<TITLE>Ruby on Rails Starter Application</TITLE>
		<link href='/stylesheets/style.css' rel='stylesheet'>
	</HEAD>

	<BODY>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                <input class="form-control username-field" type="text" placeholder="Username">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                <input class="form-control password-field" type="password" placeholder="Password">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-5">
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                </fb:login-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
	</BODY>
</HTML>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
  <!--<title>Facebook Login JavaScript Example</title>-->
  <!--<meta charset="UTF-8">-->
<!--</head>-->
<!--<body>-->
<!--<script>-->
<!--</script>-->

<!--&lt;!&ndash;-->
  <!--Below we include the Login Button social plugin. This button uses-->
  <!--the JavaScript SDK to present a graphical Login button that triggers-->
  <!--the FB.login() function when clicked.-->
<!--&ndash;&gt;-->

<!--</body>-->
<!--</html>-->