<HEAD>
		<TITLE>Mediminder</TITLE>
		<link href='/stylesheets/style.css' rel='stylesheet'>
</HEAD>

	<BODY>
  <div class="container">
    <div class="row">
      <div class="well well-lg title-div" style="margin-top: 100px">
        <h1 style="text-align: center">Welcome to Mediminder!</h1>
        <hr>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h3 style="text-align: center">
              Mediminder is an intelligent application that combines the web, natural language processing, and
              your cell phone to make sure you never miss a beat!
            </h3>

            <div class="col-lg-6 col-lg-offset-4">
              <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" style="margin-left: 60px">
              </fb:login-button>
              <div id="status">
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <button class="btn btn-primary btn-block dashboard-button">Dashboard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
	</BODY>

<style>
  body, html {
    background-image: url('/assets/landing_background.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>
