<HEAD>
		<TITLE>Mediminder</TITLE>
		<link href='/stylesheets/style.css' rel='stylesheet'>
</HEAD>

	<BODY>
  <div class="container">
    <div class="row">
      <div class="well well-lg title-div" style="margin-top: 100px">
        <h1 style="text-align: center">Welcome to Mediminder!</h1>
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <h3>
              Mediminder is an intelligent application that makes
              sure you take the medications you need, when you need to take them.
            </h3>
          </div>
        </div>
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>

        <div id="status">
        </div>
      </div>
    </div>
  </div>
	</BODY>

<style>
  body, html {
    background-image: url('/assets/landing_background.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>
