 <div id="<%= drug_id %>" class="col-lg-6" style="overflow: auto;">
    <ul class="list-group checked-list-box">
      <li class="list-group-item">6:00AM</li>
      <li class="list-group-item">7:00AM</li>
      <li class="list-group-item">9:00AM</li>
      <li class="list-group-item">12:00PM</li>
      <li class="list-group-item">2:00PM</li>
      <li class="list-group-item">4:00PM</li>
      <li class="list-group-item">6:00PM</li>
      <li class="list-group-item">10:00PM</li>
      <li class="list-group-item">11:00PM</li>
      <li class="list-group-item">12:00AM</li>
    </ul>
 </div>